# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
SimulationFront/dist
SimulationFront/tmp
SimulationFront/out-tsc
SimulationFront/bazel-out

# Node
SimulationFront/node_modules
SimulationFront/npm-debug.log
SimulationFront/yarn-error.log

# IDEs and editors
SimulationFront/.idea/
SimulationFront/.project
SimulationFront/.classpath
SimulationFront/.c9/
SimulationFront/*.launch
SimulationFront/.settings/
SimulationFront/*.sublime-workspace

# Visual Studio Code
SimulationFront/.vscode/*
SimulationFront/!.vscode/settings.json
SimulationFront/!.vscode/tasks.json
SimulationFront/!.vscode/launch.json
SimulationFront/!.vscode/extensions.json
SimulationFront/.history/*

# Miscellaneous
SimulationFront/.angular/cache
SimulationFront/.sass-cache/
SimulationFront/connect.lock
SimulationFront/coverage
SimulationFront/libpeerconnection.log
SimulationFront/testem.log
SimulationFront/typings

# System files
SimulationFront/.DS_Store
SimulationFront/Thumbs.db
