<div class="container">
    <div class="header">{{ editMode ? 'Edit Simulation' : 'Create a new simulation' }}</div>

    <div class="form-container">
        <div class="row">
            <div class="input-container">
                <label for="input-simulation-n">Name (N)</label>
                <div class="input-area">
                    <input id="input-simulation-n" type="text" maxlength="255" autocomplete="off" [(ngModel)]="n">
                    <span class="required">*</span>
                </div>
            </div>
    
            <div class="input-container">
                <label for="input-simulation-p">Population (P)</label>
                <div class="input-area">
                    <input id="input-simulation-p" type="number" maxlength="255" autocomplete="off" [(ngModel)]="p">
                    <span class="required">*</span>
                </div>
            </div>
    
            <div class="input-container">
                <label for="input-simulation-i">Infected (I)</label>
                <div class="input-area">
                    <input id="input-simulation-i" type="number" maxlength="255" autocomplete="off" [(ngModel)]="i">
                    <span class="required">*</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-container">
                <label for="input-simulation-r">Reproduction (R)</label>
                <div class="input-area">
                    <input id="input-simulation-r" type="number" maxlength="255" autocomplete="off" [(ngModel)]="r">
                    <span class="required">*</span>
                </div>
            </div>
    
            <div class="input-container">
                <label for="input-simulation-m">Mortality (M)</label>
                <div class="input-area">
                    <input id="input-simulation-m" type="number" maxlength="255" autocomplete="off" [(ngModel)]="m">
                    <span class="required">*</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-container">
                <label for="input-simulation-ti">Time to recovery (Ti)</label>
                <div class="input-area">
                    <input id="input-simulation-ti" type="number" maxlength="255" autocomplete="off" [(ngModel)]="ti">
                    <span class="required">*</span>
                </div>
            </div>
    
            <div class="input-container">
                <label for="input-simulation-tm">Time to mortality (Tm)</label>
                <div class="input-area">
                    <input id="input-simulation-tm" type="number" maxlength="255" autocomplete="off" [(ngModel)]="tm">
                    <span class="required">*</span>
                </div>
            </div>
    
            <div class="input-container">
                <label for="input-simulation-ts">Simulation duration (Ts)</label>
                <div class="input-area">
                    <input id="input-simulation-ts" type="number" maxlength="255" autocomplete="off" [(ngModel)]="ts">
                    <span class="required">*</span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <span class="error">{{ errorMessage }}</span>
        <div id="submit-button" class="center" (click)="submit()">Submit</div>
    </div>
</div>
