<div class="container">
    <div class="header">
        Symulacja<br>
        <span>DWdawdwadwad</span>
    </div>

    <div id="simulation-data">
        <div class="title">Simulation Data</div>

        <table id="simulation-table">
            <thead>
                <tr>
                    <th>N</th>
                    <th>P</th>
                    <th>I</th>
                    <th>R</th>
                    <th>M</th>
                    <th>Ti</th>
                    <th>Tm</th>
                    <th>Ts</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="simulation != null">
                    <td>{{ simulation.n }}</td>
                    <td>{{ simulation.p }}</td>
                    <td>{{ simulation.i }}</td>
                    <td>{{ simulation.r }}</td>
                    <td>{{ simulation.m }}</td>
                    <td>{{ simulation.ti }}</td>
                    <td>{{ simulation.tm }}</td>
                    <td>{{ simulation.ts }}</td>
                    <td class="action-buttons">
                        <i class="fa-solid fa-pen-to-square" (click)="editSimulation(simulation.id)"></i>
                        <i class="fa-solid fa-trash" (click)="deleteSimulation(simulation.id)"></i>
                    </td>
                  </tr>
            </tbody>
        </table>
    </div>

    <span id="raport">Raport</span>

    <div id="population-per-day-data">
        <div class="title">Population per day</div>

        <div class="table-container scrollable scrollable-vertical">
            <table id="simulation-table">
                <thead class=".thead">
                    <tr>
                        <th>Day</th>
                        <th>Pi</th>
                        <th>Pv</th>
                        <th>Pm</th>
                        <th>Pr</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let population of simulation?.populationList">
                        <td>{{ population.id }}</td>
                        <td>{{ population.pi }}</td>
                        <td>{{ population.pv }}</td>
                        <td>{{ population.pm }}</td>
                        <td>{{ population.pr }}</td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>