@import "../../../assets/styles/base";

.container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-weight: 600;
        font-size: 2.6em;
        padding: 50px;
    }

    .create-simulation-button{
        margin-top: 100px;

        width: 500px;
        padding: 15px 0;
        text-align: center;
        background-color: $color-theme;
        font-size: 1.3em;
        border-radius: 25px;
    }
    .create-simulation-button:hover{
        background-color: $color-theme-dark;
    }
}
